<% @cats.each do |cat| %>
  <!-- <a href="cats/<%#cat.id%>"<%# cat.name %> </a> -->
  <%= link_to(cat.name, cat_url(cat.id) ) %>
  <br/>
<% end %>
  <br/>
  <br/>

  <%= button_to "Make New Cat", new_cat_url, method: :get%>
