.square {
  outline: 2px solid black;
  width: 166px;
  height: 166px;
  float: left;
  background-color: #d3d3d3;
  list-style: none;
  text-align: center;
  font-size: 100px;
}

ul.group {
  margin: auto;
  width: 500px;
  padding: 0;
  position: relative;
}

li {
  float: left;
}

li.square.o {
  background-color: red;
}

#hovered {
  background-color: yellow;
}

li.square.x {
  background-color: green;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

h1 {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
