<!DOCTYPE html>
<html>
<head>
  <title>Bbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHHo2ma24Z8c5EJB6OXn2dFY9fNVLZSPQ">
    </script>
</body>
</html>
