<form action="<%= posts_url  %>", method="post">

  , :author_id"
  <label for="title">Title:
    <input type="text", name="post[title]" , value = "<%= @post.title %>">
  </label>
  <br>
  <label for="url">Url:
    <input type="text", name="post[url]", value="<%= @post.url  %>">
  </label>
  <br>
  <label for="content">Content:
    <input type="text", name="post[content]", value="<%= @post.content %>">
  </label>
  <br>
<label for="sub"> 
  <input type="text", name="post[sub_id], value= %>">
</label>

  <input type="submit">
</form>
