<h1>Request Cat Rental form!</h1>

<form action="<%=cat_rental_requests_url%>" method="post">

  <label for="cat_rr[cat_id]">Cats:</label>
  <select name="cat_rr[cat_id]">
    <option value="nil" selected>Options</option>
    <% @cats.each do |cat|%>
      <option value="<%=cat.id%>"><%=cat.name%></option>
    <% end %>
  </select>
  <br/>

  <label for="cat_rr[start_date]">Start Date:</label>
  <input type ="date" name = "cat_rr[start_date]"/>
  <br/>

  <label for="cat_rr[end_date]">End Date:</label>
  <input type ="date" name = "cat_rr[end_date]"/>
  <br/>

  <input type="submit" value="Rent Cat">

</form>
